*
{
    margin: 0 ;
    padding: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}
body{
    height:100% ;
    
    

}
header{
    background-image:url("images\logo.PNG");
    height:auto;
	width:auto;
	margin:20px;
    
}
    
.page-title
{
    background-image:url(images/logo.png )
    
}
.Menuitem
{
    padding-left:0 ;
    background-color: none;
    text-align: center;

}
.Menuitem li {
    display:inline-block ;
    padding: 20px ;
}
.mainclass {
    background-image: linear-gradient(rgba(31, 128, 192, 0.212),rgba(57, 63, 68, 0.021)),url(images/leadership-g9849b9ef6_1920.jpg);
    height: 450px;
    background-size:cover ;
    background-repeat: no-repeat;
    opacity: 0.7;
    width:100% ;
    position: absolute;
    /*!box-sizing: content-box;*/
    padding-top:20px;
    display:grid ;
    grid-template-columns: 700px 1fr;
    align-items: center;
    margin-bottom: 10px;

    
}

.first{
    max-width: 100% ;   
    height:350px;
    border-radius : 10px ;
}